.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 600px) 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

.header {
  width: 100%;
  padding: 10px 0;
  background: #fff;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 30px;
  margin-bottom: 30px;
  grid-column: 2/3;
}

footer {
  grid-column: 1/-1;
  background: #fff;
}

textarea,
input,
button {
  outline: none;
}
